@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    overflow-x: hidden;
}
:root {
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
}
.main {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#1c1c1c,#323232);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.main::before {
    content: 'MBikes';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16vw;
    font-weight: 700;
    color: rgba(255,255,255,0.05);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 3em;
    font-weight: 700;
}
header a {
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style: none;

}
.navigation li a {
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation li a:hover {
    color: var(--red);
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 1;
}
.content h2 {
    font-size: 5em;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}
.content h2 span {
    font-weight: 700;
}
.btn {
    display: inline-block;
    background: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    transition: 0.25s;
}
.btn:hover {
    letter-spacing: 4px;
}
.bike {
    max-width: 70%;
}
.bikes {
    max-width: 70%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.sci {
    display: flex;
}
.sci img {
    margin-right: 50px;
    max-width: 50px;
}
.sci li {
    list-style: none;
}
.sci li a {
    color:  var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}
.sci li a:hover {
    color: var(--red);
}
.slider .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    transition: 0.25s;
    pointer-events: none;
}
.slider .slides h2 {
    color: var(--white);
    font-size: 3em;
}
.slider .slides h2:last-child {
    text-align: end;
}
.slider .slides h2 span {
    color: var(--red);
    font-size: 0.5em;
    font-weight: 400;
    font-style: italic;
}
.foot {
    display: inline-flex;
    float: right;
}
.foot li {
    list-style: none;
}
.foot li a {
    color:  var(--white);
    text-decoration: none;
    margin-right: 40px;
    transition: 0.25s;
}
.foot li a:hover {
    color: var(--red);
}
.texto {
    color: var(--white);
}
.formulario {
    display: block;
}
img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}