@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    overflow-x: hidden;
}
:root {
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83038;
}
.main {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#1c1c1c,#323232);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.main::before {
    content: 'MBikes';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16vw;
    font-weight: 700;
    color: rgba(255,255,255,0.05);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 3em;
    font-weight: 700;
}
header a {
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style: none;

}
.navigation li a {
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation li a:hover {
    color: var(--red);
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 1;
}
.content h2 {
    font-size: 5em;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}
.content h2 span {
    font-weight: 700;
}
.btn {
    display: inline-block;
    background: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    transition: 0.25s;
}
.btn:hover {
    letter-spacing: 4px;
}
.bike {
    max-width: 70%;
}
.bikes {
    max-width: 70%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.sci {
    display: flex;
}
.sci img {
    margin-right: 50px;
    max-width: 50px;
}
.sci li {
    list-style: none;
}
.sci li a {
    color:  var(--white);
    font-size: 1em;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.25s;
}
.sci li a:hover {
    color: var(--red);
}
.sci li a ion-icon {
    font-size: 2em;
}
.slider .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    transition: 0.25s;
    pointer-events: none;
}
.slider .slides h2 {
    color: var(--white);
    font-size: 3em;
}
.slider .slides h2:last-child {
    text-align: end;
}
.slider .slides h2 span {
    color: var(--red);
    font-size: 0.5em;
    font-weight: 400;
    font-style: italic;
}
.texto {
    color: var(--white);
}
.contactUS {
    position: relative;
    width: 100%;
    padding: 10px 50px;
}
.contactUS .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}
.contactUS .title h2 {
    color: var(--white);
    font-weight: 500;
}
.form {
    grid-area: form;
}
.info {
    grid-area: info;
}
.map {
    grid-area: map;
}
.contact {
    padding: 40px;
    background: var(--black);
    box-shadow: rgba(0,0,0,0.15);
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contact h3 {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.formBox {
    position: relative;
    width: 100%;
}
.formBox .row50 {
    display: flex;
    gap: 20px;
}
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}
.formBox .row50 .inputBox {
    width: 50%;
}
.formBox .row100 .inputBox {
    width: 100%;
}
.inputBox span {
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea {
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 200px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"] {
    background: var(--red);
    color: var(--white);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;

}
.info h3 {
    color: var(--white);
}
.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: var(--white);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p {
    color: var(--white);
}
.info .infoBox div a {
    color: var(--white);
    text-decoration: none;
}
.map {
    padding: 0;
}
.map iframe {
    width: 100%;
    height: 100%;
}
img {
    vertical-align: middle;
}
.container {
    position: relative;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 16.66%;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}

@media (max-width: 991px) {
    .main {
        padding: 40px;
    }
    header {
        padding: 20px 40px;
    }
    .slider {
        position: relative;
        width: 100%;
        height: 180px;
    }
    .slider .slides {
        position: absolute;
        top: initial;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slider .slides h2 {
        font-size: 2.5em;
        text-align: center;
    }
    .slider .slides h2:last-child {
        text-align: center;
    }
    .bike {
        max-width: 100%;
    }
    .footer {
        position: relative;
        margin-top: 50px;
        flex-direction: column-reverse;
        padding: 0px 40px;
    }
    .sci {
        margin-top: 40px;
    }
    .content h2 {
        font-size: 3em;
    }
    .toggle {
        position: relative;
        width: 32px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
    }
    .toggle.active {
        position: fixed;
        top: 30px;
        right: 40px;

    }
    .toggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--white);
        transform: translateY(-10px);
        transition: 0.25s;
        box-shadow: 0 10px 0 var(--white);
    }
    .toggle.active::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 var(--white);
    }
    .toggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--white);
        transform: translateY(10px);
        transition: 0.25s;
    }
    .toggle.active::after {
        transform: translateY(0px) rotate(-45deg);
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        background: var(--black);
    }
    .navigation li a {
        font-size: 1.5em;
        margin: 10px 0;
        display: inline-block;
    }
    .contactUS {
        padding: 20px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "form"
        "info"
        "map";
    }
    .map {
        min-height: 300px;
        padding: 0;
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .formBox .row50 .inputBox {
        width: 100%;
    }
    .contact {
        padding: 30px;
    }

}